:root{
    --white: #FFFFFF;
    --black: #000000;
    --gradient1: linear-gradient(95.14deg, #555E61 0%, #798688 42.64%, #B6BEBF 97.65%);
    --navGradient: linear-gradient(90.98deg, rgba(0, 0, 0, 0.6) 0.9%, rgba(0, 0, 0, 0.36) 71.1%, rgba(0, 0, 0, 0) 99.29%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --textGrey: #AFB8B9;
    --sliderIconGrey: #9FA9AA;
    --lightGreyBg: #E1E1E1;
    --lighterGrey: #EEEEEE;
}
