:root{
    --white: #FFFFFF;
    --black: #000000;
    --gradient1: linear-gradient(95.14deg, #555E61 0%, #798688 42.64%, #B6BEBF 97.65%);
    --navGradient: linear-gradient(90.98deg, rgba(0, 0, 0, 0.6) 0.9%, rgba(0, 0, 0, 0.36) 71.1%, rgba(0, 0, 0, 0) 99.29%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --textGrey: #AFB8B9;
    --sliderIconGrey: #9FA9AA;
    --lightGreyBg: #E1E1E1;
    --lighterGrey: #EEEEEE;
    --btnGradient2: linear-gradient(103.04deg, #41474A -7.42%, #788587 40.71%, #E1E6E6 120.94%, #9BA8A9 153.03%);
    --darkBorder: #6F6767;
    --lightBg: #E5E5E5;
    --inputBorder: #CED4DA;
    --footerBg: #070404;
}
